.backGround {
  background-image: url(/src/img/background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mainLogo {
  width: 200px;
  height: auto;
}

.formContainer {
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 50%;
  background-color: #fbf5f5;
  box-shadow: 2px 12px 17px -7px #383838;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(142, 129, 129, 0.51);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.formField input {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 4px;
  border-radius: 14px;
  border: 1px solid #000;
  background: #FFF;
  width: 100%;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}
button {
  background: #0563b4;
  width: 30%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #0e528d;
}